misskey:
  instance: "nya.one"
  token: ""
  folderId: ""
email:
  host:
    - "nya.one"
  readerUrl: "https://mail.nya.one"
  verifyDKIM: true
  sizeLimit: 102400 # 100KB
  tls:
    enable: true
    cert: /tls/cert.pem
    key: /tls/key.pem
system:
  redis: "redis://localhost:6379/0"
  listen: "0.0.0.0:2525"
  production: true
