{
  "misskey": {
    "instance": "nya.one",
    "token": "",
    "folderId": ""
  },
  "email": {
    "host": ["nya.one"]
  },
  "system": {
    "redis": "redis://redis:6379/0",
    "production": true
  }
}